<h1>Patient Details</h1>

 <%= link_to 'New patient', new_patient_path %>
<table>
  <tr>
    <th><em>Patient name</em></th>
    <th>DOB</th>
	<th><em>Identity card type</em></th>
	<th>Identity card number</th>
	<th><em>Staff identity</em></th>
	<th colspan = "5"></th>
	
  </tr>
 
  <% @patients.each do |patient| %>
    <tr>
      <td><%= patient.Patient_name %></td>
      <td><%= patient.DOB %></td>
	  <td><%= patient.Identity_card_type %></td>
	  <td><%= patient.Identity_card_number %></td>
	  <td><%= patient.Staff_identity %></td>
	  


	 
      <td><%= link_to 'Show', patient %></td>
    </tr>
  <% end %>
</table>