<h3><center>New Patient Registration!!</center></h3>
<%= image_tag('patient.png', :size => '100x100') %>

<%= form_for :patient, url: patients_path do |f| %>
 
  
 <Center> 
  <p> Patient name:<br/>
    <%= f.text_area :Patient_name %>
  </p>
 
  <p> DOB:<br/>
    <%= f.date_field :DOB %>
  </p>
 
  <p> Identity card type:<br/>
    <%= f.text_area :Identity_card_type %>
  </p>
  
   <p> Identity card number:<br>
    <%= f.number_field :Identity_card_number %>
  </p>
  
   <p> Staff identity: <br>
    <%= f.number_field :Staff_identity %>
  </p>
  
 
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>


<%=  link_to 'Back', patients_path %>
