<p>
  <strong>Patient_name:</strong>
  <%= @patient.Patient_name %>
</p>
 
<p>
  <strong>DOB:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Identity_card_type:</strong>
  <%= @patient.Identity_card_type %>
</p>

<p>
  <strong>Identity_card_number:</strong>
  <%= @patient.Identity_card_number %>
</p>

<p>
  <strong>Staff_identity:</strong>
  <%= @patient.Staff_identity %>
</p>

<p>
  <strong>Staff_sys_ip_location:</strong>
  <%= @patient.Staff_sys_ip_location %>
</p>


