<p>
  <strong>Patient name:</strong>
  <%= @patient.Patient_name %>
</p>
 
<p>
  <strong>DOB:</strong>
  <%= @patient.DOB %>
</p>

<p>
  <strong>Identity card type:</strong>
  <%= @patient.Identity_card_type %>
</p>

<p>
  <strong>Identity card number:</strong>
  <%= @patient.Identity_card_number %>
</p>

<p>
  <strong>Staff identity:</strong>
  <%= @patient.Staff_identity %>
</p>



<%=  link_to 'Back', patients_path %></br>

<a href="/patients/new">Click here to register new Patient!</a>
